.pageTitleIcon {
    display:none;
}

.pageType {
    padding-left:5px;
}

.searchScopeHeader{
    color:#fff;
    font-weight:bold;
    margin:1.5em 0em 1.5em 0em;
    padding:.2em;
    display:block;
}

.exactPhraseDirective{
    margin-top:.5em;
    margin-bottom:1em;
}

.searchMine{
    margin-top:.3em;
    margin-bottom:.5em;
}

.searchBoxTitle{
    display:block;
    font-weight:bold;
    margin-top:.5em;
}

.advancedSubheader {
    font-weight:bold;
    display:block;
    margin-top:1em;
    margin-bottom:1em;
    margin-left:.2em;
}

.entitiesSelect {
    border: 1px dashed #CCC;
    padding: 10px;
    margin-left:1em;
    white-space: nowrap;
}


.selectorToggle {
    text-decoration:underline;
    cursor:pointer;
    font-size:.9em;
}

.bFilterSearch .searchTextBox {
    margin-right:.3em;
    margin-bottom:.3em;
}

.searchHints {
    font-size: 80%;
}

.searchInfoElement{
    margin-left:0.4em;
}

.AdvancedSearch input.btn {
    vertical-align:top;
    margin-top:2px;
}

.bFilterSearch .bFilter {
    margin-left:0;
    margin-top:0;

}
.bFilterSearch .bFilter .view {
    background-color: #D9D9D9;
    font-size: 97%;
    float:none;
    margin:1em 0px 0px 0px;
    padding-top:9px;
}

.bPageTitle {
    margin-bottom:9px;
}

.view h2{
    display:inline;
    position:relative;
    float:left;
    padding-top:3px;
    padding-left:3px;
}

.bFilterSearch .bFilter .view .fFooter{
    margin-left:5.7em;
    border-top-width: 1px;
    border-top-style: dotted;
    border-top-color: #999;
    padding-bottom:5px;
    padding-top:5px;
    padding-left:0em;
    margin-top:5px;
}

.bFilterSearch .bFilter .view .fFooterUnifiedSearch {
    margin-left:5.7em;
    padding-bottom:5px;
    padding-left:0em;
    margin-top:5px;
}


.bFilterSearch .bFilter .view label {
    vertical-align:middle;
    padding-left:.3em;
}

/* CSS for the message box for Unified Search, where the user gets redirected to the app's search page */
.searchFilterMessageBox {
    margin: 0 6px 4px 6px;
}

.bPageBlock .pbHeader table .searchFilterMessageBox div table .messageCell {
    width: 100%;
}

.bPageBlock .pbHeader table .searchFilterMessageBox div table .messageCell a {
    color: #015BA7;
    text-decoration:none; 
    font-size:100%; 
    margin-left:0.25em;
}

.unifiedSearchScopingOverlayPanel {
    margin: -3px 0px 0px 0px;
    color: #000000;
    font-size: 100%;
    overflow: hidden;
}

.unifiedSearchScopingOverlayPanel .scopingTable {
    border: 0px;
    padding: 0px 0px 1px 3px;
}

.unifiedSearchScopingOverlayPanel .searchOptionsTable {
    border: 0px;
    padding: 0px 24px 1px 3px;
    margin-top: 10px;
}

.unifiedSearchScopingOverlayPanel .searchOptionsTable tr, 
.unifiedSearchScopingOverlayPanel .searchOptionsTable td {
	border: 0;
	padding: 0;
}

.unifiedSearchScopingOverlayPanel  .searchAction {
	margin-top:10px;
}

.unifiedSearchScopingOverlayPanel .panelText {
    font-size: 100%;
}

.unifiedSearchScopingOverlayPanel h2 {
    color: #4A4A56;
    font-weight: bold;
    font-size: 100%;
}

.unifiedSearchScopingOverlayPanel a {
    color: #015BA7;
    text-decoration: none;
}

.unifiedSearchScopingOverlayPanel a:hover {
    text-decoration: underline;
}

.unifiedSearchScopingOverlayPanel .checkboxes {
    padding-left: 4px;
}

.unifiedSearchScopingOverlayPanel .headerSearchBoxGhostText {
	color: #a0a0a0;
}

.unifiedSearchScopingOverlayPanel .helpLinkContainer {
    float: right;
    font-size: 0.9em;
}

.unifiedSearchScopingOverlayPanel a:hover.helpLink  {
    text-decoration: none;
}

.unifiedSearchScopingOverlayPanel a:hover.helpLink .text {
    text-decoration: underline;
}

.unifiedSearchScopingOverlayPanel .helpLinkContainer .helpIcon {
    vertical-align: top;
    margin-left: 5px;
}

.unifiedSearchOverlayStickyScopeMessage {
	display: block;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
	line-height: 1em;
}

.unifiedSearchSelectionBox {
    width: 610px;
    height: 160px;
    border: 1px solid #E1E1E1;
    overflow: auto;
    padding: 0px 1px 1px 3px;
}

.unifiedSearchSelectionBox table tr {
    vertical-align: top;
}

.searchBackToTop {
    margin-top: -5px;
    margin-bottom: 3px;
}

.searchBackToTop a {
    color: #015BA7;
    text-decoration: none;
    font-size: 91%;
}

.searchBackToTop a:hover {
    text-decoration: underline;
}

.searchBackToTop a img {
    margin-right: 3px;	
}

/* This handles the appearance of the Change Scope link for Unified Search */
body .bodyDiv .bFilter .view a {
    font-size: 1em;
}

/* Ensure that the Change Scope link in Service Desk remains blue */
.bFilter .view a {
    font-size: 1em;
    color: #015BA7;
    text-decoration: none;
}




/** Aloha Advanced Search / Search Results  **/
.AdvancedSearch .pageType{
    padding-left: 0;
    margin-left: 0;
}
.AdvancedSearch .searchBoxTitle{
    float: left;
    margin: 10px 0 0 16px;
    padding: 6px 7px 0 0;
    font-size: 0.9em;
    color: #4a4a56;
}
.AdvancedSearch .searchBoxInput{
    padding: 9px 0;
}
.AdvancedSearch .searchBoxInput input{
    margin: 2px auto;
    vertical-align: middle;
}
.AdvancedSearch .searchBoxInput .btn{
    margin: 1px 0 2px 10px;
}
.AdvancedSearch .tertiaryPalette{
    background-color: transparent;
    border-width: 2px 0 0;
    border-style: solid;
    margin: 17px 0;
}
.AdvancedSearch .tertiaryPalette .searchScopeHeader{
    color: #000;
    font-size: 1.17em;
    margin: 0;
    padding: 7px 0 0;
}
.AdvancedSearch .advancedSubheader{
    margin: 20px 0 7px 0;
}
.AdvancedSearch .entitiesSelect{
    margin-left: 0;
}
.AdvancedSearch .searchBoxInput,
.bFilterSearch .view{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #e2e3e5;
}
.pageType{
    padding-left: 0;
}
.bFilterSearch .searchTextBox{
    margin-right: 8px;
}
.bFilterSearch .view h2{
    color: #4a4a56;
    font-size: 0.95em;
    padding: 5px 7px 0;
}
.bFilterSearch .view .fFooter{
    font-size: 1.05em;
    margin-left: 54px;
    padding: 7px 0;
    color: #000;
}
.bFilterSearch .view .fFooter a{
    font-size: 1em;
}
.panelWrapper{
    border: 0;
}
.panelWrapper .listHoverLinks{
    margin: 18px 6px 12px 0;
}
.listHoverLinks .linklet,
.listHoverLinks .linklet span{
    padding-left: 0;
}
.listHoverLinks .linklet .listTitle{
    text-decoration: none;
    color: #000;
    font-size: 1.01em;
}
.unifiedSearchScopingOverlayPanel .divisions {
	text-align: right;
}
.unifiedSearchScopingOverlayPanel .selectionCol {
	padding-right: 5px;
	text-align: right;
}
.unifiedSearchScopingOverlayPanel .numEntitiesSelected {
    font-weight: bold;
}
.unifiedSearchScopingOverlayPanel .entityCheckboxes {
	text-align: left;
}
.unifiedSearchScopingOverlayPanel .message {
    padding: 4px 0;
    padding-right: 8px;
    padding-left: 5px;
}

.unifiedSearchScopingOverlayPanel .infoM4, .unifiedSearchScopingOverlayPanel .warningM4 {
    margin: 0 0;
    margin-top: 8px;
}

.unifiedSearchScopingOverlayPanel .infoIcon {
	display: inline;
	vertical-align: text-top;
}

.unifiedSearchScopingOverlayPanel .mouseOverInfo {
	height: 28px;
}



